@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');



#root, html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}

.app {
    color: #111;
    height: 100%;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.card {
    margin-bottom: 2%;
    background-color: #dbdbdb;
    width: 45%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 2px;
    padding: 2%;
}

.heading {
    font-size: 1.5rem;
    font-family: 'Space Mono', monospace;
    font-weight: 300;
    display: flex;
    align-items: center;
    height: 580px;
}

*{
    box-sizing: border-box;
    margin: 0; padding: 0;
  }
  :active,
  :hover,
  :focus {
    outline: 0 !important;
    outline-offset: 0;
  }
  ::before,
  ::after {
    position: absolute;
    content: "";
  }
  
  .btn {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 10px 25px 15px;
    min-width: 150px;
  }
  .btn span {
    position: relative;
    display: inline-block;
    font-family: 'Space Mono', monospace;
    font-size: 1rem;
    font-weight: 700;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 20px;
    transition: 0.3s;
  }
  
  /*--- btn-1 ---*/
  .btn-1::before {
    background-color: #61dbfb;
    transition: 0.3s ease-out;
  }
  .btn-1 span {
    color: #111;
    border: 1px solid #61dbfb;
    transition: 0.2s 0.1s;
  }
  .btn-1 span:hover {
    color: #dbdbdb;
    transition: 0.2s 0.1s;
  }

  .btn.hover-filled-opacity::before {
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
  }
  .btn.hover-filled-opacity:hover::before {
    opacity: 0;
  }
      

/* .bg {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .9;
    visibility: visible;
  }
  
  @keyframes bg-animation {
      0% { transform: translate(0,0) }
      10% { transform: translate(-5%,-5%) }
      20% { transform: translate(-10%,5%) }
      30% { transform: translate(5%,-10%) }
      40% { transform: translate(-5%,15%) }
      50% { transform: translate(-10%,5%) }
      60% { transform: translate(15%,0) }
      70% { transform: translate(0,10%) }
      80% { transform: translate(-15%,0) }
      90% { transform: translate(10%,5%) }
      100% { transform: translate(5%,0) }
  } */

  .name {
    font-family: 'Space Mono', monospace;
    color: #dbdbdb;
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
  }

  @media only screen and (max-width: 600px) {
      .card {
        width: 80%;
        height: 30%;
        margin-bottom: 30px;
      }
  }